#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.bienvenida {
  max-width: 800px;
  margin: auto;
  text-align: center;
  padding: 20px;
}

.bienvenida h1 {
  color: black;
  font-size: 2rem;
}

.bienvenida p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: black;
}




.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.container {
    text-align: center;
}
body {
  background: linear-gradient(to bottom, #5c9ead, #a4d1dc, #e1f5f9) !important;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
}